/Ages2.class
/Arays.class
/EvenOdd.class
/Loop.class
/Main.class
/Methods.class
/Switch.class
/desicions.class
/desicions2.class
/enbuyuk.class
/faktoriel.class
/getAges.class
/package-info.class
/primeNumbers.class
/vizeFinal.class
/whileLoop.class
/whileLoops.class
